<!DOCTYPE html>
<html lang="en">

<%- include('partials/head'); -%>

<body>
    <%- include('./partials/navbar'); -%>

    <%- include(`./../pages/${template}`); -%>

    <%- include('./partials/footer'); -%>

</body>

</html>
