* {
    box-sizing: border-box;
}

.bg-marvel {
    background: url('./img/marvels-group-of-characters.jpg') no-repeat center center fixed;
    background-size: cover;
}

.title-text {
    color: #ffff;
    font-size: 1.5rem;
    margin-bottom: 0.5em;
}

@media (min-width: 768px) {
    .title-text {
        font-size: 2.5rem;
    }
}

.search-btn {
    display: inline-block;
}

@media (max-width: 768px) {
    .search-btn {
        display: block;
        width: 100%;
    }
}
